@import './common.scss';

.wp-block { // This may need to be .wp-block in WordPress 5+

  //the editor wrapper
  &[data-type="chrisf/columns-block"]{
    margin: 1rem;
    max-width: unset;

    .columns-wrapper-editor {
      padding: 1rem;
      width: 100%;
      position: relative;
      min-height: 8rem;

      > .editor-inner-blocks > div{
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
        flex-wrap: wrap;

        .wp-block{
          flex-grow: 1;
        }
      }
      //size to content
      &.sizing-content > .editor-inner-blocks > div{
        flex-wrap: nowrap;
      }
      //size evenly
      &.sizing-even.columns-2{
        > .editor-inner-blocks > div .wp-block{
          flex-basis: calc(100% / 2);
        }
      }
      &.sizing-even.columns-3{
        > .editor-inner-blocks > div .wp-block{
          flex-basis: calc(100% / 3);
        }
      }
      &.sizing-even.columns-4{
        > .editor-inner-blocks > div .wp-block{
          flex-basis: calc(100% / 4);
        }
      }
      &.sizing-even.columns-5{
        > .editor-inner-blocks > div .wp-block{
          flex-basis: calc(100% / 5);
        }
      }
      &.sizing-even.columns-6{
        > .editor-inner-blocks > div .wp-block{
          flex-basis: calc(100% / 6);
        }
      }
      //size two to one
      &.sizing-two-one{
        > .editor-inner-blocks > div .wp-block:first-child{
          flex-basis: calc( 100% * 2 / 3 );
        }
        > .editor-inner-blocks > div .wp-block:last-child{
          flex-basis: calc( 100% / 3 );
        }
      }
      //gaps
      &.horizontal-gap-0{
        > .editor-inner-blocks div[data-type="chrisf/column-block"] div.column{
          padding: 0;
        }
      }
      &.horizontal-gap-1{
        > .editor-inner-blocks div[data-type="chrisf/column-block"] div.column{
          padding: 0 0.5rem;
        }
      }
      &.horizontal-gap-2{
        > .editor-inner-blocks div[data-type="chrisf/column-block"] div.column{
          padding: 0 1rem;
        }
      }
      &.horizontal-gap-3{
        > .editor-inner-blocks div[data-type="chrisf/column-block"] div.column{
          padding: 0 1.5rem;
        }
      }
    }
  }

  //single column wrapper
  &[data-type="chrisf/column-block"]{
    min-height: 12rem;
    border: 1px dashed #000;
  }
}
