@import './common.scss';

.wp-block { // This may need to be .wp-block in WordPress 5+

  //the editor wrapper
  &[data-type="chrisf/columns-block"]{
    margin: 1rem;
    max-width: unset;

    .columns-wrapper {
      padding: 1rem;
      width: 100%;
      position: relative;
      min-height: 8rem;

      .editor-inner-blocks > div{
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
        flex-wrap: wrap;

        .wp-block{
          flex-grow: 1; 
        }
      }

      &.spacing-content .editor-inner-blocks > div{
        flex-wrap: nowrap;
      }

      &.spacing-even.columns-2{
        .editor-inner-blocks > div .wp-block{
          flex-basis: calc(100% / 2);
        }
      }
      &.spacing-even.columns-3{
        .editor-inner-blocks > div .wp-block{
          flex-basis: calc(100% / 3);
        }
      }
      &.spacing-even.columns-4{
        .editor-inner-blocks > div .wp-block{
          flex-basis: calc(100% / 4);
        }
      }
      &.spacing-even.columns-5{
        .editor-inner-blocks > div .wp-block{
          flex-basis: calc(100% / 5);
        }
      }
      &.spacing-even.columns-6{
        .editor-inner-blocks > div .wp-block{
          flex-basis: calc(100% / 6);
        }
      }
    }
  }

  //single column wrapper
  &[data-type="chrisf/column-block"]{
    min-height: 12rem;
    border: 1px dashed #000;
  }
}
